.miDivision{

    border: rgb(88, 10, 112)Solid 1px;
    width: 220px;
    height: 200px;
    margin:0px auto;
    background-color: rgb(213, 175, 238);

}

.inputText{
    width:100 px;
    margin: 20px;
    background-color: rgb(205, 233, 245);

}

.myButton{
    margin: 20px;
    background-color:  rgb(250, 199, 224);
    border-style: rgb(95, 8, 49);
    width: 60px;
    height: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
    color: rgb(99, 10, 94);
    


}
.myButton1{
    margin: 20px;
    background-color: rgb(250, 199, 224);
    border-style: rgb(95, 8, 49);
    width: 60px;
    height: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
    color: rgb(99, 10, 94);
    



}

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
    margin:0px auto;
    color: rgb(95, 8, 49);

}

h3{
    text-align: center;
    margin:0px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
    color: rgb(77, 13, 85);




}

#resultado{
    text-align: center;
    margin:0px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
    color: rgb(95, 8, 49);
    border: rgb(95, 8, 49);
   


}








    
